:root {
  --color-page-background: #c6c6c6;
  --color-text: #000;
  --color-border: var(--color-text);
  --color-app-background: #fff;
  --color-link: #21498a;
}

/* https://colorffy.com/dark-theme-generator?colors=d2c482-121212&success=22946E&warning=A87A2A&danger=9C2121&info=21498A&primaryCount=6&surfaceCount=6 */
[data-theme="dark"] {
  --color-page-background: #121212;
  --color-text: #ece4c7;
  --color-border: var(--color-text);
  --color-app-background: #282828;
  --color-link: #92b2e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 21px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 1rem;
  background-color: var(--color-app-background);
  color: var(--color-text);
}

a,
a:visited {
  color: var(--color-link);
}

.app {
  background-color: var(--color-app-background);
  width: 100%;
}

.title {
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 0.5rem;
  border-bottom: 10px solid var(--color-border);
  padding-bottom: 0.25rem;
}

.facts {
  font-size: 0.9rem;
  width: 100%;
  padding-left: 0.5rem;
}

.facts th {
  font-weight: 400;
  text-align: left;
}

.facts td {
  text-align: right;
  font-weight: 700;
}

.sub-info {
  font-weight: 400;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: inherit;
  font-weight: 400;
}

.description {
  font-weight: 700;
}

.section {
  border-top: 5px solid var(--color-border);
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.section-header p {
  font-weight: 700;
}

.section-header_sub {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid var(--color-border);
  font-size: 0.9rem;
}

.actions {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--color-app-background);
  color: var(--color-text);
  border: 2px solid var(--color-border);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition:
    background-color 0.2s,
    color 0.2s;
}

button:hover {
  background-color: var(--color-border);
  color: var(--color-app-background);
}

.commute {
  display: flex;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.commute-am,
.commute-pm {
  flex-basis: 50%;
}

.commute-pm {
  text-align: right;
}

.hourly {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.hourly-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.hourly-item i {
  font-size: 20px;
  margin-top: 0.5rem;
  font-weight: 100;
}

.hourly-description {
  font-weight: 700;
}

.footer {
  font-size: 0.6rem;
  padding-top: 0.25rem;
  text-align: center;
  border-top: 5px solid var(--color-border);
  margin-top: 1rem;
  padding-top: 0.25rem;
  width: 100%;
}

/* mobile first, so these are for larger than phone sized screens */
@media (min-width: 480px) {
  html {
    font-size: 18px;
  }

  body {
    background-color: var(--color-page-background);
    padding: 2rem;
  }

  .app {
    border: 3px solid var(--color-border);
    padding: 1rem;
    width: 100%;
    max-width: 20rem;
  }

  .footer {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    margin-top: 0.25rem;
  }
}
