/* Nutrition Label Style */

/* Basic Reset & Body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e2e8f0; /* A neutral, boring background */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem;
}

.app {
  background-color: #fff;
  border: 3px solid #000;
  padding: 1rem;
  width: 100%;
  max-width: 320px;
}

.title {
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 0.5rem;
  border-bottom: 10px solid #000;
  padding-bottom: 0.25rem;
}

.facts {
  font-size: 0.9rem;
  width: 100%;
  padding-left: 0.5rem;
}

.facts th {
  font-weight: 400;
  text-align: left;
}

.facts td {
  text-align: right;
  font-weight: 700;
}

.sub-info {
  font-weight: 400;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: inherit;
  font-weight: 400;
}

.description {
  font-weight: 700;
}

.section {
  border-top: 5px solid #000;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.section-header p {
  font-weight: 700;
}

.section-header_sub {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid #000;
  font-size: 0.9rem;
}

.actions {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition:
    background-color 0.2s,
    color 0.2s;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.hourly {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.hourly-item {
  flex-shrink: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hourly-item i {
  font-size: 20px;
  margin-top: 0.5rem;
  font-weight: 100;
}
